{% extends "lr/base.html" %}

{% block title %}
Add a review
{% endblock title %}

{% block content %}
<form action="{% url 'lr:add-review-post' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <h1>Add a Review</h1>
    Summarize your review (70 chars max)
    <input type="text" name="summary">
    
    <h3>Address</h3>
    <input type="text" name="city" placeholder="City">
    <input type="text" name="street" placeholder="Street">
    <input type="number" name="street_num" placeholder="Street number">
    <input type="text" name="apartment_num" placeholder="Apartment number">

    <h3>Maintanance</h3>
    <textarea name="maintanance_desc" placeholder="How was the apartment maintained?"></textarea>
    <label for="maintanance_rating">Maintanance rating</label>
    <select name="maintanance_rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <h3>Contract</h3>
    <textarea name="contract_desc" placeholder="How reasonable is the contract? What is unique about it?"></textarea>
    <label for="contract_rating">Contact rating</label>
    <select name="contract_rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <br />
    <label for="moved_in">Moved in</label>
    <input type="date" name="moved_in" placeholder="Date moved in">
    <br />
    <label for="moved_out">Moved out</label>
    <input type="date" name="moved_out" placeholder="Date moved out">
    <br />
    <label for="is_contract_ended">Is contracted ended</label>
    <input type="checkbox" name="is_contract_ended" placeholder="Is contracted ended?" title="Is contracted ended?">
    <br />
    Note: It is advised to leave a review after the contact is over and complete (which can be a while after the contact end date)
    <h4>Occupancy type</h4>
    <select name="occupancy_type">
      <option value="room">Room</option>
      <option value="apartment">Apartment</option>
    </select>
    <input type="number" name="rent" placeholder="Rent per month">

    <h3>Landlord</h3>
    <input type="text" name="landlord_first" placeholder="first name">
    <input type="text" name="landlord_last" placeholder="last name">
    <input type="number" name="landlord_id" placeholder="ID">    
    <br />

    <input type="submit" value="Add">
  </div>
</form>

<hr>
{% endblock content %}